.box {
  stroke: gray;
  stroke-width: 0.5px;
  fill  : #64B5F6;
}
.box.small {
  width : 40px;
  height: 20px;
}
.box.big {
  width : 200px;
  height: 200px;
}

.line  { stroke-width: 0.5px; }
.line.blue  { stroke: blue; }
.line.green { stroke: green; }
.line.red   { stroke: red; }
