#sitedesc_image {
  width: 500px;
  height:100px;
  max-width: 100%;
  background: transparent url(../blue-sfme.png) no-repeat left top;
  background-size: 100% auto;
  float: none;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}
