doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    title Example Template
    style
      include ../css/style.css
    script
      include ../js/script.js
    script(src='../js/live.js')

  body
    include partials/body.pug
