<script>
import template from '@/components/TemplateAbstract.vue'
import tabs from '@/components/enhanced/TabListEnhanced.vue'
import tab  from '@/components/enhanced/TabItemEnhanced.vue'

export default {
  name: 'EnhancedTabs',
  mixins:[template],
  components: {
    tabs, tab
  }
}
</script>

<style scoped>
  @import '../../assets/css/enhanced-layout.css';
  @import '../../assets/css/background-colors.css';
  @import '../../assets/css/border-radius.css';
</style>
