.foo(@number) {
  .m-@{number}{
    margin: (1px * @number); 
  }
}

.loop(@cursor) when (@cursor > 0) {
  // next iteration
  .loop((@cursor - 1));

  // actual printing
  .foo((@cursor * 5))
}

// launch the loop
.loop(5);
