<template>
  <main class="tabs-enh">
    <div class="tab-enh-headers">
      <tabheader
        v-for="tab in tabs" v-bind:key="tab.name"
        :title="tab.title" :color="tab.color"
        :tabname="tab.name"
      />
    </div>

    <div class="tab-spacer"></div>

    <div class="tab-enh-contents">
      <tabcontent
        v-for="tab in tabs" v-bind:key="tab.name"
        :text="tab.text" :title="tab.title" :color="tab.color"
        :tabname="tab.name"
      />
    </div>
  </main>
</template>

<script>
import { inject } from 'vue'
import { provide, ref } from 'vue'
import tabheader  from '@/components/enhanced/TabHeaderEnhanced.vue'
import tabcontent from '@/components/enhanced/TabContentEnhanced.vue'

export default {
  name: 'TabsEnhanced',
  components: { tabheader, tabcontent },
  setup() {
    const tabs = inject('tabsArray')

    const tabSelected = ref('team')
    const tabHovered  = ref('')
    provide('tabSelected', tabSelected)
    provide('tabHovered',  tabHovered)

    return { tabs }
  }
}
</script>

<style scoped>
  @import '../../assets/css/enhanced-layout.css';
  @import '../../assets/css/background-colors.css';
  @import '../../assets/css/border-radius.css';
</style>
