<template>
  <tabs />
</template>

<script>
import { provide } from 'vue'
import { tabsArray } from '@/tabsArray.js'
import tabs from '@/components/simple/TabsSimple.vue'

export default {
  name: 'MainSimple',
  components: { tabs },
  setup() {
    provide('tabsArray', tabsArray)
  }
}
</script>
