<template>
  <div v-bind:class="this.color" 
       v-show="this.tabname == this.tabSelected">
    <h3>{{ title }}</h3>
    <p>{{ text }}</p>
  </div>
</template>

<script>
import { inject } from 'vue'

export default {
  name: 'TabContentMockup',
  props: {
    tabname:  { type: String, required: true },
    title:    { type: String, required: true },
    text:     { type: String, required: true },
    color:    { type: String, required: true }
  },
  setup() {
    const tabSelected = inject('tabSelected')   
    return { tabSelected }
  }
}
</script>
