<template>
  <div 
    v-on:click="selectTabByName(this.tabname)"
    v-bind:class="[activeClass(), colorClass()]"
   >{{ title }}</div>
</template>

<script>
import { inject } from 'vue'

export default {
  name: 'TabHeaderSimple',
  props: {
    tabname: { type: String, required: true },
    title:   { type: String, required: true },
    color:   { type: String, required: true }
  },
  setup() {
    const tabSelected = inject('tabSelected')
    return { tabSelected }
  },
  mounted() {
    this.selectTabByName(this.tabSelected);
  },
  methods: {
    selectTabByName(tabName) {
      this.tabSelected = tabName
    },
    activeClass : function () {
      return this.tabname == this.tabSelected ? 'active' : '';
    },
    colorClass  : function () {
      return this.tabname == this.tabSelected ?
               this.color : 'bg-gray-700';
    }
  }
}
</script>
