<template>
  <main class="tabs">
    <div class="tab-headers">
      <div class="bg-gray-700"
           v-for="tab in tabs" v-bind:key="tab.name"
           ref="tabs"
          >{{ tab.title }}
      </div>
    </div>

    <div class="tab-spacer"></div>

    <div class="tab-contents">
      <slot></slot>
    </div>
  </main>
</template>

<script>
export default {
  name: 'TabListMockup',
  data() {
    return {
      tabs: this.$children
     //  tabs: []
    };
  },
/*mounted() {
    console.log(this.$refs.tabs)
    return {
      //tabs: this.$children
      tabs: this.$refs.tabs
    };
  }*/
}
</script>
