

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ (page.title | default: "Link Example: Default") | escape }}</title>

  <link rel="stylesheet" type="text/css"
        href="{{ site.baseurl }}/assets/css/w3.css">
  <script src="{{ site.baseurl }}/assets/js/script.js"></script>

  <link rel="stylesheet" href="{{ "/assets/css/w3.css" | url }}">
  <script src="{{ site.baseurl }}/assets/js/script.js"></script>
