doctype html
html(lang="en")

  head
    meta(charset='utf-8')
    title Example Stack
    link(href='../css/style.css', rel='stylesheet', type='text/css')
    script(src='../js/script.js')

  body
    include partials/body.pug
