<!DOCTYPE html>
<html lang="en">

<head>
  {{- partial "head.html" . -}}
</head>
<body>
  {{- partial "sidebar.html" . -}}

  <div id="main">
    {{- partial "navbar.html" . -}}

    <div class="w3-container">
    {{ .Content }}
    </div>
  </div>

</body>
</html>
