
// variable initialization
$loop-begin:  5 !default;
$loop-end:   25 !default;
$interval:    5 !default;

// sub-property: abbreviation
$sides: (top: t, bottom: b, left: l, right: r);

// loop
$cursor: $loop-begin;

@while $cursor <= $loop-end {

  @each $side, $name in $sides {
    .m-#{$name}-#{$cursor} {
      margin-#{$side}: #{$cursor}px;
    }
  }

  $cursor: $cursor + $interval;
}
