
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Page.Title | default "Link Example - Default" }}</title>

  <link rel="stylesheet" type="text/css"
        href="{{ "css/w3.css" | relURL }}">
  <script src="{{ "js/script.js" | relURL }}"></script>
