
    <div class="w3-teal">
      <button class="w3-button w3-teal w3-xlarge"
              id="openNav">&#9776;</button>
      <div class="w3-container">
        <h1>My Page</h1>
      </div>
    </div>

    <div class="w3-bar w3-black">
    {{ range .Site.Data.pages }}
      <a class="w3-bar-item w3-button"
         href="{{ .link }}">{{ .short }}</a>
    {{ end }}
    </div>
