<template>
     <div
       v-show="isActive"
       v-bind:class="this.color">
       <div class="tab-enh-content"
            v-bind:class="{ 'is-hovered' : this.isHovered }">
         <slot></slot>
       </div>
     </div>
</template>

<script>
export default {
  name: 'TabItemEnhanced',
  props: {
    name:    { required: true },
    title:   { required: true },
    color:   { default: '' }
  },
  data() {
    return {
      isHovered: false,
      isActive: false
    };
  }
}
</script>
