<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'site/head.html' %}
</head>
<body>
  {% include 'site/sidebar.html' %}

  <div id="main">
    {% include 'site/navbar.html' %}

    <div class="w3-container">
    {% block content %}{% endblock %}
    </div>
  </div>

</body>
</html>

