// variable initialization

$loop-begin: 5;
$loop-stop: 25;
$interval:   5;

@for $cursor from $loop-begin
to $loop-stop by $interval {
  
  @each $side, $name
  // sides: properties, abbreviation;
  in (top, bottom, left, right), (t, b, l, r) {
    .m-$(name)-$(cursor) {
      margin-$(side): $(cursor)px;
    }
  }
}
