// variable initialization

$loop-begin: 5;
$loop-stop: 25;
$interval:   5;

@for $cursor from $loop-begin
to $loop-stop by $interval {

  @each $prop, $name
  in (margin, padding), (m, p) {  
    @each $side, $subname
    in (top, bottom, left, right), (t, b, l, r) {
      .$(name)-$(subname)-$(cursor) {
        $(prop)-$(side): $(cursor)px;
      }
    }
  }
}
