// variable initialization

$loop-begin: 0;
$loop-stop: 25;
$interval:   5;

@for $cursor from $loop-begin
to $loop-stop by $interval {

  @each $prop, $name
  in (margin, padding), (m, p) {  
    .$(name)-$(cursor) {
      $(prop): $(cursor)px !important;
    }

    @each $side, $subname
    in (top, bottom, left, right), (t, b, l, r) {
      .$(name)-$(subname)-$(cursor) {
        $(prop)-$(side): $(cursor)px !important;
      }
    }
    .$(name)-y-$(cursor) {
      @each $side in (top, bottom) {
        $(prop)-$(side): $(cursor)px !important;
      }
    }
    .$(name)-x-$(cursor) {
      @each $side in (left, right) {
        $(prop)-$(side): $(cursor)px !important;
      }
    }

  }
}
