<template>
  <div>
    <p><strong>{{ msg }}</strong></p>
  </div>
</template>

<script>
export default {
  name: 'AlohaMaui',
  props: {
    msg: { type: String, default: 'Aloha Maui!' }
  }
}
</script>

