<template>
  <div>
     <p><strong>{{ msg }}</strong></p>
  </div>
</template>

<script>
export default {
  name: 'YelloWorld',
  props: {
    msg: { type: String, default: 'Yellow World!' }
  }
}
</script>
