.w3-teal
  button#openNav.w3-button.w3-teal.w3-xlarge
    | &#9776;
  .w3-container
    h1 My Page
.w3-bar.w3-black
  a.w3-bar-item.w3-button.w3-large(href='index.html')
    | Home
  a.w3-bar-item.w3-button.w3-large(href='html.html')
    | HTML
  a.w3-bar-item.w3-button.w3-large(href='css.html')
    | CSS
  a.w3-bar-item.w3-button.w3-large(href='php.html')
    | PHP
  a.w3-bar-item.w3-button.w3-large(href='javascript.html')
    | Javascript
