
  <title><%= title || "Link Example: Default" %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/w3.css">
  <script src="../js/script.js"></script>
