<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head',{title: title}) %>
</head>
<body>
  <%- include('sidebar') %>

  <div id="main">
    <%- include('navbar') %>

    <div class="w3-container">
      <p><%= content %></p>
    </div>
  </div>

</body>
</html>
