<script>
import template from '@/components/TemplateAbstract.vue'
import tabs from '@/components/simple/TabListSimple.vue'
import tab  from '@/components/simple/TabItemSimple.vue'

export default {
  name: 'SimpleTabs',
  mixins:[template],
  components: {
    tabs, tab
  }
}
</script>

<style scoped>
  @import '../../assets/css/simple-layout.css';
</style>

