<!DOCTYPE html>
<html lang="en">

<head>
  {% include "site/head.njk" %}
</head>
<body>
  {% include "site/sidebar.njk" %}

  <div id="main">
    {% include "site/navbar.njk" %}

    <div class="w3-container">
    {{ content | safe }}
    </div>
  </div>

</body>
</html>
