<script>
import template from '@/components/TemplateAbstract.vue'
import tabs from '@/components/mockup/TabListMockup.vue'
import tab  from '@/components/mockup/TabItemMockup.vue'

export default {
  name: 'SimpleMockup',
  mixins:[template],
  components: {
    tabs, tab
  }
}
</script>

<style scoped>
  @import '../../assets/css/simple-layout.css';
</style>
