<template>
     <div class="bg-gray-700" v-show="name == 'home'">
       <slot></slot>
     </div>
</template>

<script>
export default {
  name: 'TabItemMockup',
  props: {
    name:  { required: true },
    title: { required: true }
  }
}
</script>
