
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if not headtitle %}{% set headtitle = "Link Example - Default" %}{% endif %}
  <title>{{ headtitle }}</title>

  <link rel="stylesheet" type="text/css"
        href="{{ SITEURL }}/theme/css/w3.css">
  <script src="{{ SITEURL }}/theme/js/script.js"></script>
