.container:after,
.container:before,
.panel:after,
.panel:before
  content: ""
  display: table
  clear: both

.container,
.panel
  padding: 0.01em 24px
  margin-top: 16px
  margin-bottom: 16px

.display-container
  position: relative

.red
  color: #fff !important
  background-color: #f44336 !important

.yellow
  color: #000 !important
  background-color: #ffeb3b !important

.green
  color: #fff !important
  background-color: #4CAF50 !important

.blue
  color: #fff !important
  background-color: #2196F3 !important

.button
  border: none
  display: inline-block
  padding: 8px 16px
  vertical-align: middle
  overflow: hidden
  text-decoration: none
  color: inherit
  background-color: transparent
  text-align: center
  cursor: pointer
  white-space: nowrap

.button
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.button:hover
  color: #000 !important
  background-color: #ccc !important

.large
  font-size: 18px !important

.display-topright
  position: absolute
  right: 0
  top: 0
