<!DOCTYPE html>
<html lang="en">

<head>
  {% include "partials/head.njk" %}
</head>
<body>
  {% include "partials/sidebar.njk" %}

  <div id="main">
    {% include "partials/navbar.njk" %}

    <div class="w3-container">
    {% block main %}
      <p>Default Page</p>
    {% endblock %}
    </div>
  </div>

</body>
</html>
