.tabs {
  display: flex;
  flex-direction: row;
}

.tabs * {
  box-sizing: border-box;
  padding: 1rem;
}

.tab-headers {
  flex-basis: 30%;
  background-color: #bdf;
}

.tab-contents {
  flex-basis: 70%;
  background-color: #6bf;
}
