.tab-headers > div:hover {
  background-color: #777;
}

.tab-headers div.active:hover {
  background-color: #555;
}

.tab-headers div.active div:hover {
  background-color: #eee;
}

.tab-contents div div:hover {
  background-color: #eee;
}

/* Add some decoration */

.bg-white  { background-color: white; }
.bg-gray   { background-color: #555; }
.bg-orange { background-color: orange; }
.bg-teal   { background-color: teal;  }
.bg-blue   { background-color: blue; }
.bg-red    { background-color: red; }

.tab-headers .bg-white {
  color: black;
}
