
/* Shadow */

.tabs {
  box-shadow: 0.25rem 0.25rem 0.25rem #ccc;
}

/* Responsive border-radius */

.tabs {
  border-radius: 0.5rem;
}

.tab-headers {
  border-radius: 0.5rem 0.5rem;
}

.tab-headers > div:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;  
}

.tab-contents {
  border-radius: 0 0.5rem 0.5rem 0;
}

.tab-content,
.tab-contents > div {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media (min-width: 640px) {
  .tab-headers {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .tab-headers > div:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0;
  }

  .tab-headers > div:last-child {
    border-bottom-left-radius: 0.5rem;
  }

  .tab-headers .active div {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .tab-contents {
    flex: 70%;
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .tab-contents > div {
    border-top-left-radius: 0;
    border-top-right-radius: 0.5rem; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.5rem;
  }

  .tab-content {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.5rem; 
    border-bottom-right-radius: 0.5rem;
  }
}
