body { font-family: Arial, Helvetica, sans-serif; }

section h1 {
  margin: 1rem;
}

/* Main Layout: Mobile First */

.tabs {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  border: 1px solid #ccc;
}

.tabs * {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .tabs {
    flex-direction: row;
  }
  
  .tabs>* {
    min-height: 12rem;
  }
}

/* Inner and Outer Layout */

.tab-headers {
  flex-basis: 30%;
}

.tab-headers div {
  padding-left:  1rem;
  padding-right: 1rem;
  height: 4rem;
  display: flex;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;

  color: white;
  font-size: 1rem; 
}

.tab-headers div div {
  width: 100%;
}

.tab-contents {
  flex-basis: 70%;
}

.tab-contents > div {
  padding-left:  1rem;
  padding-right: 1rem;
  height: 100%;

  color: black;
  font-size: 1rem;
}

.tab-content {
  padding: 1rem;
  height: 100%;
}

@media (min-width: 768px) {
  .tab-headers div {
    padding-left:  1rem;
    padding-right: 0rem;
  }

  .tab-contents > div {
  padding-left:  0;
  padding-right: 1rem;
  }
}
