body { font-family: Arial, Helvetica, sans-serif; }

section h1 {
  margin: 1rem;
}

/* Main Layout: Mobile First */

.tabs {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  border: 1px solid #ccc;
}

.tabs * {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .tabs {
    flex-direction: row;
  }
  
  .tabs>* {
    min-height: 12rem;
  }
}

/* Inner and Outer Layout */

.tab-headers {
  flex-basis: 30%;
}

.tab-headers div {
  padding: 1rem;
  height:  4rem;
  display: flex;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;

  color: white;
  font-size: 1rem; 
}

.tab-contents {
  flex-basis: 70%;
}

.tab-contents div {
  padding: 1rem;
  height:  100%;

  color: white;
  font-size: 1rem;
}

/* Add some decoration */

.tab-headers div:hover {
  background-color: #777;
}

.bg-white  { background-color: white; }
.bg-gray   { background-color: #555; }
.bg-orange { background-color: orange; }
.bg-teal   { background-color: teal;  }
.bg-blue   { background-color: blue; }
.bg-red    { background-color: red; }

.bg-gray-700   { background-color: #616161; }
.bg-orange-500 { background-color: #ff9800; }
.bg-teal-500   { background-color: #009688;  }
.bg-blue-500   { background-color: #2196f3; }
.bg-red-500    { background-color: #f44336; }
