.tab-headers>div:hover {
  background-color: #9e9e9e;
}

.tab-headers div.active:hover {
  background-color: #616161;
}

.tab-headers div.active div:hover {
  background-color: #e0e0e0;
}

.tab-content {
  background-color: white;
}

.tab-contents div div.is-hovered {
  background-color: #e0e0e0;
}

/* Add some decoration */

.bg-white      { background-color: white; }
.bg-gray-700   { background-color: #616161; }
.bg-orange-500 { background-color: #ff9800; }
.bg-teal-500   { background-color: #009688;  }
.bg-blue-500   { background-color: #2196f3; }
.bg-red-500    { background-color: #f44336; }

.tab-headers .bg-white {
  color: black;
}
