<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('site/head') %>
</head>
<body>
  <%- include('site/sidebar') %>

  <div id="main">
    <%- include('site/navbar') %>

    <div class="w3-container">
      <%- body %>
    </div>
  </div>

</body>
</html>
