.container:after,
.container:before,
.panel:after,
.panel:before {
  content: "";
  display: table;
  clear: both;
}
.container,
.panel {
  padding: 0.01em 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.display-container {
  position: relative;
}
