$shades: (
  "black":        #000000,
  "white":        #FFFFFF,
  "transparent":  transparent
);

// Shade classes
@each $color, $color_value in $shades {
  .#{$color} {
    background-color: $color_value !important;
  }
  .#{$color}-text {
    color: $color_value !important;
  }
}
