.red.base {
  background-color: #F44336 !important;
}

.red-text.text-base {
  color: #F44336 !important;
}

.red.lighten-2 {
  background-color: #E57373 !important;
}

.red-text.text-lighten-2 {
  color: #E57373 !important;
}

.red.lighten-1 {
  background-color: #EF5350 !important;
}

.red-text.text-lighten-1 {
  color: #EF5350 !important;
}

/*# sourceMappingURL=color.css.map */
