$red: (
  "base":       #F44336,
  "lighten-2":  #E57373,
  "lighten-1":  #EF5350,
);

$blue: (
  "base":       #2196F3,
  "lighten-2":  #64B5F6,
  "lighten-1":  #42A5F5,
);

$colors: (
  "red": $red,
  "blue": $blue
);

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }
    }
    @else if $color_name != "shades" {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}
