
  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" 
       style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large"
       id="closeNav" >Close &times;</button>
    <% pages.forEach(function(page){ %>
    <a class="w3-bar-item w3-button"
       href="<%= page.link %>"
      ><%= page.long %></a>
    <% }) %>
  </div>
