@red: {
  base:       #F44336;
  lighten-2:  #E57373;
  lighten-1:  #EF5350;
}

@color_name: red;
@color: @red;

each(@color, {
  .@{color_name}.@{key} {
    background-color: @value !important;
  }
  .@{color_name}-text.text-@{key} {
    color: @value !important;
  }
})

