@red: {
  base:       #F44336;
  lighten-2:  #E57373;
  lighten-1:  #EF5350;
}

@color_name: red;
@color: @red;

each(@color, {
  @is-base: boolean(@key = base);

  & when (@is-base = true) {
    .@{color_name} {
      background-color: @value !important;
    }
    .@{color_name}-text {
      color: @value !important;
    }
  }

  & when (@is-base = false) {
    .@{color_name}.@{key} {
      background-color: @value !important;
    }
    .@{color_name}-text.text-@{key} {
      color: @value !important;
    }
  }
})

