<!DOCTYPE html>
<html>
<head>
{{#> block-head}}
  {{> head title="Link Example: Default" }}
{{/block-head}}
</head>
<body>
  {{> sidebar }}

  <div id="main">
    {{> navbar }}

    <div class="w3-container">
    {{#> block-content}}
      <p>Default Page</p>
    {{/block-content}}
    </div>
  </div>

</body>
</html>

