meta(charset='utf-8')
block title
  title= title
meta(name='viewport', content="width=device-width, initial-scale=1")
link(href='https://www.w3schools.com/w3css/4/w3.css', rel='stylesheet', type='text/css')
script(src='../js/script.js')
script(src='//localhost:35729/livereload.js')

