doctype html
html(lang="en")

- var title = "Link Example: Default"
- var content = "Default Page"

  head
    include head.pug
  body
    include sidebar.pug

    #main
      include navbar.pug
      .w3-container
        block content
          p= content
