.w3-teal
  button#openNav.w3-button.w3-teal.w3-xlarge
    | &#9776;
  .w3-container
    h1 My Page
.w3-bar.w3-black
  each page in pages
    a.w3-bar-item.w3-button.w3-large(href=page.link)
      | #{page.short}
