<template>
  <div id="app">
    <TitleHeading/>

    <router-link to="hello">Hello</router-link>
    <router-link to="aloha">Aloha</router-link>
    <router-link to="yellow">Yellow</router-link>

    <router-view></router-view>

    <p>I love myself as well.</p>
  </div>
</template>

<script>
import TitleHeading from './components/TitleHeading.vue'

export default {
  name: 'App',
  components: {
    TitleHeading
  }
}
</script>

<style>
body { font-family: Arial, Helvetica, sans-serif; }
#app { margin: 1rem; }
a    { padding-right: 1rem; color: #00796b; }
</style>
